* {
	margin: 0;
	padding: 0;
}
.container{
	text-align: center;
	margin-left: 450px;
	background-color: lightblue;
	width: 450px;
	height: 500px;
	background-color: #ecf0f3;
	border-radius: 30px;
}
table{
	margin: auto;
}

input{
	font-size:30px;
	background-color: #ecf0f3;
	border-radius: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}

button{
	font-size: 30px;
	width: 88px;
	height: 57px;
	background-color: gray;
	margin: 2px;
	border-radius: 30px;
	box-shadow: -5px -5px -12px #ffffff, 5px 5px 12px rgb(0, 0, 0, .16);
}